In [252]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [253]:
df = pd.read_csv("data/train.csv")
print(df.shape)
df.columns

(17176, 14)

Index(['tripid', 'additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup', 'pickup_time',
       'drop_time', 'pick_lat', 'pick_lon', 'drop_lat', 'drop_lon', 'fare',
       'label'],
      dtype='object')

In [254]:
df["pickup_time"] = pd.to_datetime(df["pickup_time"], format="%m/%d/%Y %H:%M")
df["drop_time"] = pd.to_datetime(df["drop_time"], format="%m/%d/%Y %H:%M")
df

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,2019-11-01 00:20:00,2019-11-01 00:34:00,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,2019-11-01 00:56:00,2019-11-01 01:09:00,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,2019-11-01 01:08:00,2019-11-01 01:26:00,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,2019-11-01 02:27:00,2019-11-01 02:37:00,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,NaN,NaN,NaN,NaN,NaN,2019-11-01 03:34:00,2019-11-01 03:51:00,6.87441,79.8615,6.84478,79.9290,358.39,correct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17171,213803193,10.5,838.0,93.0,5.4219,451.0,2020-01-31 22:07:00,2020-01-31 22:21:00,7.29073,80.6367,7.28891,80.6557,198.26,correct
17172,213812756,10.5,2151.0,428.0,0.0000,39.0,2020-01-31 23:07:00,2020-01-31 23:43:00,6.90569,79.8516,6.95089,79.9389,581.23,correct
17173,213813930,10.5,263.0,9.0,0.0000,110.0,2020-01-31 23:21:00,2020-01-31 23:25:00,7.09210,79.9000,7.10135,79.9017,76.20,correct
17174,213815405,10.5,858.0,115.0,0.0000,317.0,2020-01-31 23:39:00,2020-01-31 23:53:00,6.94540,79.8768,6.93574,79.9010,133.31,correct
17175,213817296,10.5,262.0,21.0,1.2243,23.0,2020-01-31 23:49:00,2020-01-31 23:53:00,6.90257,79.9557,6.90823,79.9374,98.57,correct

In [255]:
print(df[df["additional_fare"].isna()].shape)
print(df[df["duration"].isna()].shape)
print(df[df["meter_waiting"].isna()].shape)
print(df[df["meter_waiting_fare"].isna()].shape)
print(df[df["meter_waiting_till_pickup"].isna()].shape)
print(df[df["fare"].isna()].shape)

(202, 14)
(202, 14)
(202, 14)
(202, 14)
(202, 14)
(137, 14)

In [256]:
df.dropna(inplace=True)

In [257]:
df.sort_values(by=["tripid"], ascending=["True"], inplace=True)

In [258]:
df.drop(["pickup_time", "drop_time"], axis=1, inplace=True)

In [259]:
x = df.drop("label", axis=1)
y = df["label"]

In [260]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [261]:
dtClassifier = DecisionTreeClassifier()
dtClassifier = dtClassifier.fit(x_train, y_train)

In [262]:
y_pred = dtClassifier.predict(x_test)

In [263]:
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

[[2920  195]
 [ 134  145]]
0.9030642309958751

In [264]:
y_pred_df = pd.DataFrame(y_pred, columns=["prediction"])
y_pred_df["prediction"].value_counts()

correct      3054
incorrect     340
Name: prediction, dtype: int64

In [265]:
pred = pd.DataFrame(y_pred_df["prediction"].replace({"correct": "1", "incorrect": "0"}))

In [266]:
pred["prediction"] = pred["prediction"].astype(int)

In [267]:
pred.set_index(x_test["tripid"], inplace=True)

In [270]:
pred.to_csv("data\pred_1_1 - train_only - decision_tree.csv")